version: '3.8'
services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: bookdb
    ports:
      - '5432:5432'
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    image: node:18
    working_dir: /app
    volumes:
      - ./:/app
    command: sh -c "npm install && npx prisma migrate deploy && npm run dev"
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/bookdb
    ports:
      - '3000:3000'
    depends_on:
      - db

  frontend:
    image: node:18
    working_dir: /app
    volumes:
      - ../book-management-frontend:/app
    command: sh -c "npm install && npm run serve"
    ports:
      - '8080:8080'
    depends_on:
      - backend

volumes:
  db_data:
