version: "3.8"

services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: bookdb
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - db

  backend:
    build: ./book-management-backend
    restart: always
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/bookdb
      JWT_SECRET: book_management_secret
    ports:
      - "3000:3000"
    depends_on:
      - db
      - pgadmin
    command: sh -c "npx prisma migrate deploy && node index.js"

  frontend:
    build: ./book-management-frontend
    restart: always
    ports:
      - "5173:5173"
    depends_on:
      - backend

volumes:
  db_data:
